.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjusted gap for spacing */
    position: relative;
}

.basket-container {
    position: relative; /* Position relative to allow absolute positioning of the dot */
}

.basket-icon {
    position: relative; /* Position relative to the basket-container for dot positioning */
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    top: -5px; /* Adjusted top to move dot upwards */
    right: -5px; /* Adjusted right to move dot towards the edge of the basket icon */
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid green;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}
